body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background:palevioletred;
  color: white;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a.active {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 40px;
}

.hero-img {
  width: 150px;
  border-radius: 50%;
}

section {
  padding: 20px;
  text-align: center;
}

.table-container {
  overflow-x: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: palevioletred;
  color: white;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, textarea, button {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: palevioletred;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #555;
}

footer {
  background: #f4f4f4;
  text-align: center;
  padding: 10px;
}

/* Responsif */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
  .hero-img {
    width: 100px;
  }
}
